.containerColumn {
  padding: 0 15px;
  height: 100%;
  flex: 0 0 320px;

  & + div {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;

      h2 {
        font-weight: 500;
        font-size: 2.4rem;
        padding: 0 10px;
      }

      button {
        width: 42px;
        height: 42px;
        border-radius: 18px;
        background: #3b5bfd;
        border: 0;
        cursor: pointer;
      }
  }

  .cards {
    margin-top: 30px;
  }

  .adicionaTask{
    width: 100%;
    height: 6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
  }
}


*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #711633;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  display: none;
}
