.containerColumn {
  padding: 0 15px;
  height: 100%;
  width: 100%;
  flex: 0 0 320px;

  & + div {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 30rem;

    h2 {
      font-weight: 500;
      font-size: 2.4rem;
      padding: 0 10px;
    }

    .newTask {
      width: 42px;
      height: 42px;
      border-radius: 18px;
      background: #3b5bfd;
      border: 0;
      cursor: pointer;
    }
  }

  .columnFilters {
    display: flex;
    flex-direction: column;

    .filterTitle {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
    }

    .boxOrdering {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      p {
        font-size: 2rem;
      }

      .ordering {
        color: #000;
        border: 0;
        cursor: pointer;
      }
    }
  }

  .cards {
    margin-top: 30px;
  }
}
