.containerColumn {
    color: #fff;
    border-radius: 5px;
    background-color: #131820;
    width: 400px;
    height: 600px;
    //max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

  .column {
    width: 100%;
    height: 6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c0f16;

      h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        align-self: center;
      }
  }

  .cards {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .adicionaTask{
    width: 100%;
    height: 6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c0f16;
    font-size: 2rem;
    cursor: pointer;
  }
}


*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #711633;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  display: none;
}
