.containerModal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 40rem;
  border: 2px solid #777;
  background-color: #000;
  color: white;

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

    span {
      margin-bottom: 2rem;
      font-size: 3rem;
    }

    .createNewCard {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .titleNewCard {
        height: 4rem;
        font-size: 1.4rem;
      }

      .descriptionNewCard {
        height: 10rem;
        line-height: 1;
        font-size: 1.4rem;
      }

      .difficult {
        width: 100%;
        padding: 10px;
        font-size: 1.4rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        margin-bottom: 1rem;

        option {
          padding: 10px;
          font-size: 16px;
          background-color: #fff;
          color: #333;
        }
      }
    }

    .decision {
      display: flex;
      gap: 1rem;

      .create {
        width: 100%;
        height: 4rem;
        color: #fff;
        background-color: green;
      }

      .cancel {
        width: 100%;
        height: 4rem;
        color: #fff;
        background-color: red;
      }
    }
  }
}
