.card {
  width: 30rem;
  position: relative;
  background: #FFF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
  border-top: 20px solid rgba(230, 236, 245, 0.4);
  cursor: grab;

  .boxEditAndDelete {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .editButton {
      margin-left: auto;
      background-color: #ffc107;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
    }
    
    .editButton:hover {
      background-color: #ffca28;
    }
    
    .editButton:active {
      background-color: #ffb300;
    }

    .deleteButton {
      background-color: #ff5555;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 1rem 1rem;
      font-size: 1.4rem;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
    }
    
    .deleteButton:hover {
      background-color: #ff3333;
    }
    
    .deleteButton:active {
      background-color: #cc0000;
    }
  }

  ul {
    font-size: 1.8rem;
    padding: 0.5rem;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .difficult {
      width: 30%;
      height: 2rem;
      border-radius: 4px;
      color: #fff;
    }

    .easy {
      background-color: #006400;
    }

    .medium {
      background-color: #0000CD;
    }

    .hard {
      background-color: #FF0000;
    }
  }
}
