.card {
  background-color: #000;
  //margin: 2rem 0;
  color: #fff;
  border-radius: 0.75rem;
  height: 14rem;
  //min-height: 12rem;
  text-align: left;
  width: 100%;

  .boxDifficultAndDelete {
    display: flex;
    justify-content: space-between;

    .deleteButton {
      background-color: #ff5555;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 1rem 1rem;
      font-size: 1.4rem;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
    }
    
    .deleteButton:hover {
      background-color: #ff3333;
    }
    
    .deleteButton:active {
      background-color: #cc0000;
    }
  }

  ul {
    font-size: 1.8rem;
    padding: 0.5rem;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .difficult {
      width: 20%;
      border-radius: 4px;
    }

    .easy {
      background-color: green;
    }

    .medium {
      background-color: blue;
    }

    .hard {
      background-color: red;
    }

    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
    }

    .createdAt {
      display: flex;
    }
  }
}
